extend layout
block content
	p
		| Vivamus hendrerit arcu sed erat moeldes
		| vehicula, contendit sed actur eu tellus
		| rhonucs, lupus cum erat erit estis cum
	p
		| Quem tamen Quinctus Maxmillius venerunt
		| Comes tam erat vestibulum fericulum nunc
block sidebar
	.widget
		h1 Widget
		p
			|Sed auctor comes tam nomen homus
			|Iacta ialea est julius narrat
		p
			| Quam vivamus cont demus domus
			| Tu est asinus Quintilia domus
